.copytext-button {
    height: 1rem;
    margin: 0 0.5rem;
    padding: 0;
    width: 1rem;

    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
}

.copytext-button:active:hover {
    --text-color: var(--interactive-color);
}

.copytext-button:hover {
    cursor: copy;
}

.hidden-offscreen {
    left: -9999px;
    position: absolute;
}
