.copy-button {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    height: 1rem;
    margin: 0;
    padding: 0;
    width: 1rem;
}

.copy-button:active:hover {
    background-color: var(--interactive-color);
    border-radius: 0.125rem;
    --text-color: var(--light-color);
}

.copy-button:hover {
    cursor: copy;
    --text-color: var(--interactive-color);
}

.hidden-offscreen {
    left: -9999px;
    position: absolute;
}
