.togglebutton {
    margin: 0;
    width: 1rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: var(--middle-color);
    outline: none;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.togglebutton:active {
    background-color: var(--interactive-color);
}

.togglebutton:not(:checked) {
    cursor: zoom-in;
}

.togglebutton:checked {
    cursor: zoom-out;
}
