:root {
    --font: sans-serif;

    --background-color: #222222;
    --text-color: #eeeeee;

    --spacing: 1rem;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
}
