*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --font: sans-serif;

    --background-color: #222222;
    --middle-color: #666666;
    --text-color: #eeeeee;

    --spacing: 1rem;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
}

p {
    margin: calc(var(--spacing)) 0;
}
