*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --font: sans-serif;

    --line-width: 1px;

    --active-color: #AA66AA;
    --dark-color: #222222;
    --interactive-color: #6666FF;
    --middle-color: #666666;
    --light-color: #eeeeee;

    --background-color: var(--dark-color);
    --text-color: var(--light-color);

    --spacing: 1rem;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: 16px;
}

p {
    margin: calc(var(--spacing)) 0;
}

button, input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
