.stickytext {
    /* When being sticky, there is no margin, but we want normal spacing. */
    padding: var(--half-spacing) 0;
    position: sticky;
    margin: var(--half-spacing) 0;
    margin-right: 0;

    background: var(--background-color);
}
